angularfire/.idea/
djk/WpfApplication1/WpfApplication1/obj/Debug/
djk/WpfApplication1/WpfApplication1/bin/
djk/djk-siptool/djk-siptool/obj/
djk/djk-siptool/packages/
djk/djk-siptool/djk-siptool/bin/
djk/djk-siptool/djk-siptool/Content/themes/base/minified/
_bin_deployableAssemblies/
packages/
djk/CRUDOperations/MvcAngular.Web/bin/
