<style>
</style>
<div ng-controller="MainCtrl" ng-init="currentStatus = 'Show All'">
  <div class="row">
    <div class="app-wrapper col-md-12">
      <h1>todo!</h1>
      <div class="well">
        <form ng-submit="addTodo()" class="form-inline clearfix row" role="add-todo">
          <div class="form-group col-md-9 col-xs-8">
            <label class="sr-only" for="add-todo">New Todo</label>
            <input ng-model="newTodo" type="text" class="form-control input-lg" id="add-todo" placeholder="What do you need to do?">
          </div>
          <div class="col-md-3 col-xs-4">
            <button ng-disabled="!newTodo" type="submit" class="btn btn-lg btn-primary btn-block"><i class="glyphicon glyphicon-plus-sign glyphicon-white"></i> Add</button>
          </div>
        </form>
        <ul class="list-group">
          <li ng-repeat="(key, todo) in todos" class="list-group-item clearfix">
            <div class="checkbox">
              <label class="pull-left">
                <input ng-model="todo.complete" ng-click="changeStatus(key)" ng-disabled="todo.pendingUpdate" type="checkbox" value=""><span ng-bind="todo.description"></span>
              </label>
              <button ng-click="removeTodo(key)" type="button" class="btn btn-link btn-xs remove-todo"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
          </li>
        </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-body row">
          <div class="col-xs-4 todo-count">
            <span class="label label-primary" ng-bind-template="{{ (todos | keyFilter | filter:{complete:false}).length }}"></span> left to do
          </div>
          <div class="col-xs-8">
            <div class="btn-group pull-right">
              <button ng-click="clearCompleted()" type="button" class="btn btn-sm btn-default">
                Clear Completed
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" ng-bind="currentStatus"><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a ng-click="showAll()" href="#">Show All</a></li>
                  <li><a ng-click="showActive()" href="#">Active</a></li>
                  <li><a ng-click="showComplete()" href="#">Completed</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
